.vs/
.vcxproj
*.bak
*.filters
#.user
x64/
userdatadir/
build/

#executables, my linux executables dont have extensions
LinearAlgebra-debug
LinearAlgebra
*.exe
out/
.vscode/settings.json

cmakefiles/
*.vcxproj
cmake_install.cmake
*.sln
*.user